@font-face {
    font-family: 'BeatlesFont';
    src: url(BOOTLE__.TTF);
    font-weight: bold;
  }

  body{
    font-family: 'Times New Roman', 'Georgia', 'Times';
    font-size: 20px;
    margin: auto;
    max-width: 1200px;
    min-width: 320px;
  }

  h1 {

    font-family: 'BeatlesFont';
    font-size: 80px;
    text-align: center;
    background-color: whitesmoke;
    padding: 25px;
  }

  .container {
    display: flow-root; 
    column-gap: 5px;
    margin: 40px;
  }

  .album{
    float: left;
    width: 350px;
    height: 350px;
    margin-left: 40px;
  }

  .albumtex{
    width: 350px;
    height: 350px;
    
  }

  .songlist{
    float:left;
    padding-left: 40px;
  }


  .nav {

    background-color: whitesmoke; 
    list-style-type: none;
    text-align: center;
    margin: -100px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
  }

  
  .nav li {
    display: inline-block;
    font-family: 'BeatlesFont';
    font-size: 20px;
    padding: 20px;
  }


  .imgright{
    float: right;
    width:462px;
    height:310px;
    margin:0px 20px 20px 20px;
}


  .sep{
    float:inherit;
    width:100%;
    max-height: 150px;
}


  .refhead {
    background-color: whitesmoke;
    font-size: 48px;
    font-family: 'Times New Roman', 'Georgia', 'Times';
    text-align: center;
    padding-bottom: 50px;

  }

  footer {
    text-align: center;
    font-size: 16px;
    padding-bottom: 40px;
}
